* {
    box-sizing: border-box;
    margin: 0;
}

body {
    margin: 0;
    background: linear-gradient(to left,#00aadd, aqua, #00aadd);
}

header {
    height: 5rem;
    background-color: #333;
    padding: 1rem;
}
img {
    display: block;
    margin: 0 auto;
}

.main-logo {
    height: 100%;
}

main {
    margin: 0 auto;
    background-color: #fafafa;
    width: 80vw;
    max-width: 900px;
    padding-bottom: 60px;
}

p {
    margin-bottom: 2em;
}

.title {
    background: linear-gradient(to left, #006, darkblue, #006);
    color: white;
    text-align: center;
    font-family: Cambria;
    margin-bottom: 1rem;
    height: 4rem;
    /* line-height == ao height para centralizar o texto sem precisar de um elemento auxiliar */
    line-height: 4rem;
}

section {
    margin-left: 100px;
    margin-right: 100px;
    text-align: center;
    line-height: 1.5;
}

.bear-image {
    border: 4px black double;
}

figure {
    margin: 2em auto 1em;
}

figcaption {
    width: 100%;
    color: rgb(129, 129, 129);
    font-size: small;
    font-weight: 200;
    padding: 0.5em;
}

footer {
    height: 20vh;
    background: #222;
    padding: 4rem;
}

footer p {
    color: white;
    text-decoration: underline;
    text-align: center;
}

.long-lorem {
    text-align: justify;
}